@import "../styles/bootstrap.variables";

.searchBlock {
  background-color: $orange;
}

.searchBlock__inputGroup {
  padding: 4rem 0;
}

.searchBlock__input {
  padding: 1rem;
}

.mainCategories {
  padding: 3rem 0;
}
.topAds {
  background-color: $cyan;
  padding: 3rem;
}
